<div class="js-gallery-button btn-list">
    <button class="btn -grey" data-btn-type="featured" {{action "filterByType" ""}}>All</button>
    <button class="btn -grey" data-btn-type="categories" {{action "filterByType" "Planning"}}>Planning</button>
    <button class="btn -grey" data-btn-type="categories" {{action "filterByType" "Licensing"}}>Licensing</button>
<!--    <button class="btn -grey" data-btn-type="categories" {{action "filterByType" "Other"}}>Other</button>-->
</div>

<div class="stat-notices__inner">
    <section class="list__section -notices">
        <div class="cf"></div>
        <ul class="list">
            {{#unless items}}
            <h2 class="-pad-top">Sorry there aren't any notices to show you at the moment. Please try another filter above or come back soon.</h2>
            {{/unless}}
			{{#each item in items}}
            <li class="list__row dotted-area -bottom -dark -pad-top">
                <div class="list-item">
                    <h2 class="list-item__summary" title="">
                        <span class="v-align--middle">
                            {{item.proposal}} at {{item.fullAddressSingleLine}}.
                        </span>
                    </h2>
                    <div class="btn-list -borderless">
                        <div class="btn -white -inactive">
                            <span class="v-align--middle -pad-left -pad-right">
                                <span class="-delta">Publication date:</span>
                                <h2 class="float--right">{{format-date "DD/MM/YYYY" item.publicationdate}}</h2>
                            </span>
                        </div>
                        <div class="btn -dark -inactive svg-stat-notices-icon-planning">
                            <span class="v-align--middle text--center">
                                {{item.type}}
                            </span>
                        </div>
<!--                        <div class="btn -blue text--center">-->
                            {{#link-to 'statnotices.view' item classNames="btn -blue text--center"}}
                                <span class="v-align--middle">
                                    View Notice
                                </span>
                            {{/link-to}}
<!--                        </div>-->
                    </div>
                </div>
            </li>
			{{/each}}
        </ul>
    </section>
	{{yield}}
</div>
