<div class="js-dashboard-wrapper wrapper -dashboard -open">
    {{outlet}}

    {{outlet "fullscreen-header"}}
    {{outlet "header"}}
    {{outlet "body"}}
    {{outlet "footer"}}
</div>

{{render "gallery"}}

{{outlet "fullscreen"}}