<div class="stat-notice">
	<div class="stat-notice__section -two-thirds">
		<div class="btn-list -borderless -pad-top-no">
	    <div class="btn -dark -inactive svg-stat-notices-icon-planning float--left">
		    <span class="v-align--middle text--center">
		        Planning
		    </span>
			</div>
      <div class="btn -white -inactive float--right publication-date">
          <span class="v-align--middle">
              <span class="-delta">Publication date: {{format-date "DD/MM/YYYY" model.publicationdate}}</span>
          </span>
      </div>
		</div>
		<div class="stat-notice__proposal dotted-area -top -bottom -pad-top -pad-bottom -dark">
			<h2 class="-alpha">{{model.proposal}}</h2>
		</div>
		<p class="stat-notice__description dotted-area -dark -bottom -pad-top -pad-bottom">
			{{#if model.proposalDetails}}
				{{model.proposalDetails}}
			{{else}}
				There are no further details for this notice.
			{{/if}}
		</p>
		<div class="stat-notice__map">
		        {{google-map 
		            lat=model.lat 
		            lng=model.lng 
		            zoom=15
					markers=model.markers
		            gopt_zoomControl=false
		            gopt_mapTypeControl=false
					gopt_draggable=false
	            }}
	            {{!-- 
				todo: map marker stays centered regardless of zooming & panning
					gopt_styles=mapStyle --}}
		</div>
		<div class="stat-notice__section -full">
			<div class="stat-notice__section -half">
				<div class="stat-notice__address solid-area -all -rounded -dark">
					<div class="icon solid-area -right -dark svg-stat-notice-icon-location-pin"></div>
					<p class="-pad-all">{{{model.fullAddress}}}</p>
				</div>
{{!-- 				<div class="btn-list -borderless">
					<button class="btn -half svg-stat-notices-icon-phone" data-grunticon-embed>Phone</button>
					{{#if model.objectionEmail}}
						<a href="mailto:{{model.objectionEmail}}" class="btn -full svg-stat-notices-icon-email" data-grunticon-embed>Email</a>
					{{/if}}
				</div> --}}
			</div>
			<div class="stat-notice__section -half">
				<div class="stat-notice__sign-off -pad-top dotted-area -top -bottom -dark">
					<h3 class="-beta dotted-area -bottom -dark -pad-bottom">Sign-off</h3>
					<h4 class="-delta">Contact name: {{model.signOffName}}</h4>
					<p>{{model.signOffDetails}}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="stat-notice__section -one-third">
		<div class="stat-notice__represent -pad-all">
			<h2 class="-alpha -pad-top -pad-bottom">Make your voice heard</h2>
			<h3 class="dotted-area -top -bottom -light -pad-top -pad-bottom">Use the link below to access Public Access, a Leeds City Council service that provides a simple way for you to make an official response to this application. The deadline for representations is {{{model.objectionDeadlineTime}}} on {{{format-date "DD/MM/YYYY" model.objectionDeadlineDate}}}.</h3>
			<div class="btn-list -borderless">
				<div class="-pad-top"><a href="{{model.publicAccessURL}}" class="btn" target="_blank">Visit Public Access</a></div>
			</div>
		</div>
	</div>
	<div class="stat-notice__section -one-third">
		<div class="stat-notice__legislation -pad-all">
			<h2 class="-alpha -pad-top -pad-bottom">The legal bit</h2>
			<h3 class="dotted-area -top -bottom -light -pad-top -pad-bottom">The advertisement of Public Notices like this one is required by law. Use the link below to view the {{{model.legislationTitle}}}, which governs all {{{model.type}}} applications.</h3>
			<div class="btn-list -borderless">
				<div class="-pad-top"><a href="{{model.legislationURI}}" class="btn" target="_blank">View the legislation</a>
					{{!-- <p>
						{{citation}}
					</p> --}}
				</div>
			</div>
		</div>
	</div>
	{{yield}}
</div>
